@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", "Roboto", sans-serif;
}

body {
  background-color: #f8f8f8;
  width: 100vw;
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.mb-3 {
  margin-bottom: 25px;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 75px 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 15px 17px .17px rgba(0,0,0,.05);
}
