.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.dashboard-container > h1 {
  font-size: 36px;
  font-weight: 700;
}

.dashboard-container > img {
  display: block;
  max-width: 300px;
  width: auto;
  height: auto;
  margin: 2em 0;
}

.logout-error {
  color: red;
  font-size: 14px;
  margin-top: 1em;
}

.logout-button {
  border: none;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}
