.content-flex > div {
  flex-grow: 1;
  width: 100%;
}

.registration-form__wrapper {
  margin-left: 75px;
  margin-right: 30px;
  padding-left: 25px;
}

.registration-form__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 35px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.image-container__image {
  display: block;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

.registration-form__bottom-text {
  margin-top: 1em;
}

.registration-form__bottom-text > a {
  color: black;
}

.submit-error {
  margin-bottom: 1em;
  color: red;
}

@media screen and (max-width: 700px) {
  .image-container {
    margin: 0;
    padding: 1em 5em 1em 5em;
  }
  .image-container__image {
    width: 50%;
  }
  .registration-form__wrapper {
    margin: 0;
    padding: 0 40px;
  }
}
