.icon-input-spacer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
}

.icon-input-spacer img {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 6px;
  width: 24px;
  height: 24px;
}

.input-error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.input-error-wrapper > .input-styled {
  outline: none;
  border: none;
  color: #000;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  width: 100%;
  font-size: 18px;
}

.input-error-wrapper > .input-styled:focus {
  color: #15141a;
  border-color: #15141a;
}

.input-error-wrapper > p {
  font-size: 12px;
  color: red;
}

.input-error-wrapper.form-error > .input-styled {
  border-color: red;
}